<div class="media miniatura">
    <a href="">
        <img class="ml-3" src="https://http2.mlstatic.com/D_Q_NP_604188-MLA43919524496_102020-R.webp">
    </a>
</div>
<div class="media miniatura">
    <a href="">
        <img class="ml-3" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
    </a>
</div>
<div class="media miniatura">
    <a href="">
        <img class="ml-3" src="https://http2.mlstatic.com/D_Q_NP_626112-MLA43919316944_102020-R.webp">
    </a>
</div>
<div class="media miniatura">
    <a href="">
        <img class="ml-3" src="https://http2.mlstatic.com/D_Q_NP_697568-MLA43919524497_102020-R.webp">
    </a>
</div>