<h5>{{producto.nombre}}</h5>
<p>Descripcion: {{producto.descripcion}}</p>
<p>Categoria: {{producto.categoria}}</p>

<form>
    
    <p class="clasificacion">
        
        <label for="radio1" *ngFor='let loop of number'>★</label>
    </p>
</form>

<p>Stock: {{producto.status}}</p>

<h4>Precio ${{producto.precio}}</h4> <br><br>

<button type="button" class="btn btn-sm btn-primary" style=" margin-bottom: 1rem; width: 20rem;">Comprar</button><br>
<button type="button" class="btn btn-sm btn-warning" style="width: 20rem;">Agregar a Favoritos</button> <br><br>