<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f8f9fa">
    <a class="navbar-brand" href="#"> <strong>ICommerce</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="form-inline my-3 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar productos, articulos marcas y mas ..." aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>

    <div class=" float-left">

        <a href="https://icons8.com/icon/11727/invitado-masculino"> <strong> Cuenta</strong> </a> &nbsp;
        <a href="#"> <strong>Mis Pedidos</strong></a> &nbsp;
        <a href="#"> <strong>Favoritos</strong> </a> &nbsp;
        <a href="#"> <strong>Carrito</strong></a> &nbsp;
        <button type="button" class="btn btn-outline-danger btn-sm"> <strong> Salir</strong></button>

    </div>
</nav>