<div class="container">
    <br>
    <h3>Mis compras</h3>
    <br>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID Compra</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Productos Adquiridos</th>
                <th scope="col">Monto total</th>
                <th scope="col">Status</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    1 Microondas Modelo ABC
                    <br> 1 Estufa Modelo ABC
                    <br> 1 Celular Modelo ABC12
                </td>
                <td>
                    $23000
                </td>
                <td>
                    Completado
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Ver Detalles</button>

                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    1 Microondas Modelo ABC
                    <br> 1 Estufa Modelo ABC
                    <br> 1 Celular Modelo ABC12
                </td>
                <td>
                    $23000
                </td>
                <td>
                    Completado
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Ver Detalles</button>

                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    1 Microondas Modelo ABC
                    <br> 1 Estufa Modelo ABC
                    <br> 1 Celular Modelo ABC12
                </td>
                <td>
                    $23000
                </td>
                <td>
                    En proceso
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Ver Detalles</button>

                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    1 Microondas Modelo ABC
                    <br> 1 Estufa Modelo ABC
                    <br> 1 Celular Modelo ABC12
                </td>
                <td>
                    $23000
                </td>
                <td>
                    Completado
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Ver Detalles</button>

                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    1 Microondas Modelo ABC
                    <br> 1 Estufa Modelo ABC
                    <br> 1 Celular Modelo ABC12
                </td>
                <td>
                    $23000
                </td>
                <td>
                    En proceso
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Ver Detalles</button>

                </td>
            </tr>




        </tbody>
    </table>



</div>