<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forma de Pago 1</h5>
                    <p class="card-text">MASTERCARD 5515 **** **** ****</p>
                    <a href="#" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forma de Pago 2</h5>
                    <p class="card-text">MASTERCARD 5515 **** **** ****</p>
                    <a href="#" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forma de Pago 3</h5>
                    <p class="card-text">MASTERCARD 5515 **** **** ****</p>
                    <a href="#" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col">
            <button class="btn btn-primary">Nuevo</button>
        </div>
    </div>
</div>