<div class="container">
    <br>
    <h3>Historial de Busqueda</h3>
    <br>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Termino busqueda</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Microondas</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Refrigerador</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Estufa</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Comedor</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Mesa comedor</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Utencilios cocina</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Microondas</td>
                <td>13-01-2021</td>
                <td>19:54</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Visualizar Resultados</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>




        </tbody>
    </table>



</div>