<div class="card" style="width: 15rem; margin-right: -40px; ">
    <img class="card-img-top" src="https://http2.mlstatic.com/D_Q_NP_738010-MLA43418328120_092020-AB.webp" alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Producto: Telefono Xiaomi M2</p>
        <p class="card-text">Precio: $3400</p>
        <button type="button" class="btn btn-outline-primary" style="margin-bottom: 4px;">Ver mas</button>
        <button type="button" class="btn btn-outline-success">Añadir al carrito</button>
    </div>
</div>