<div class="card mb-1">
    <img class="card-img-top" src="https://http2.mlstatic.com/D_Q_NP_738010-MLA43418328120_092020-AB.webp" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Xioaomi M4</h5>
        <p class="card-text">Xiaomi M4 - Liberado Cualquier compañia</p>
        <p class="card-text">$2499.99</p>
        <button type="button" class="btn btn-sm btn-primary" style=" margin-bottom: 1rem; width: 14rem;">Añadir al carrito</button> <br>
        <button type="button" class="btn btn-sm btn-light" style="margin-bottom: 1rem; width: 14rem;">    Ver Detalles   </button> <br>
        <button type="button" class="btn btn-sm btn-warning" style="width: 14rem;">Agregar a Favoritos</button>
    </div>
</div>