<div class="container">
    <br>
    <h3>Favoritos</h3>
    <br>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Celular Huawei M4</td>
                <td>$2499.99</td>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Comprar</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Celular Huawei M4</td>
                <td>$2499.99</td>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_844698-MLM41267600377_032020-R.webp">
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Comprar</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>

            <tr>
                <th scope="row">1</th>
                <td>Celular Huawei M4</td>
                <td>$2499.99</td>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
                </td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 1rem;">Comprar</button>
                    <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>


        </tbody>
    </table>



</div>