<div>
    <app-carousel></app-carousel>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Basados en tu Historial</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
            <h4>Basados en tus Preferencias</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <h4>Relacionados con tus vistas en - Tecnologia</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
        <div class="col">
            <app-tarjeta-producto></app-tarjeta-producto>
        </div>
    </div>
</div>
<br><br>
<div>
    <app-footer></app-footer>
</div>