<div>
    <app-carousel></app-carousel>
</div>
<div>
    <app-navbar-options></app-navbar-options>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Basados en tu Historial</h4>
        </div>
    </div>

    <div class="row">
        <app-carousel-items [idCarousel]="historial"></app-carousel-items>
    </div>

    <div class="row">
        <div class="col">
            <h4>Basados en tus Preferencias</h4>
        </div>
    </div>

    <div class="row">
        <app-carousel-items [idCarousel]="preferencias"></app-carousel-items>
    </div>

    <div class="row">
        <div class="col">
            <h4>Relacionados con tus vistas en - Tecnologia</h4>
        </div>
    </div>

    <div class="row">
        <app-carousel-items [idCarousel]="vistas"></app-carousel-items>
    </div>
</div>
<br><br>