<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f8f9fa;">


    <div class="col-4">

    </div>

    <div class="col-6">
        <div class=" float-none">
            <a routerLink="/home/categorias"> <strong>Categorias</strong> </a> &nbsp;
            <a href="#"> <strong>Ofertas</strong> </a> &nbsp;
            <a href="#"> <strong>Historial</strong> </a> &nbsp;
            <a href="#"> <strong>Direccion</strong> </a> &nbsp;
            <a href="#"> <strong>Envios</strong> </a> &nbsp;
            <button (click)="this.download();"> <strong>Descargar</strong> </button> &nbsp;
        </div>
    </div>

    <div class="col-3">

    </div>


</nav>