<div class="container">
    <br>
    <h1>Carrito</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
                </td>
                <td>
                    <h5>Samsung Galaxy A01 16GB Rojo 4GB RAM Telcel</h5>
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm"> - </button>
                        </div>
                        <div class="col" style="margin-left: -88px;">
                            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="height:31px">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm" style="margin-left: -27px;">+</button>
                        </div>
                    </div>
                </td>
                <td>
                    <h6>$3400</h6>
                </td>
                <td>
                    <button class="btn btn-danger">Cancelar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
                </td>
                <td>
                    <h5>Samsung Galaxy A01 16GB Rojo 4GB RAM Telcel</h5>
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm"> - </button>
                        </div>
                        <div class="col" style="margin-left: -88px;">
                            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="height:31px">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm" style="margin-left: -27px;">+</button>
                        </div>
                    </div>
                </td>
                <td>
                    <h6>$3400</h6>
                </td>
                <td>
                    <button class="btn btn-danger">Cancelar</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>
                    <img class="ml-2" src="https://http2.mlstatic.com/D_Q_NP_993248-MLA43919316943_102020-R.webp">
                </td>
                <td>
                    <h5>Samsung Galaxy A01 16GB Rojo 4GB RAM Telcel</h5>
                </td>
                <td>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm"> - </button>
                        </div>
                        <div class="col" style="margin-left: -88px;">
                            <input type="number" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" style="height:31px">
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary btn-sm" style="margin-left: -27px;">+</button>
                        </div>
                    </div>
                </td>
                <td>
                    <h6>$3400</h6>
                </td>
                <td>
                    <button class="btn btn-danger">Cancelar</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <h5>Total</h5>
                </td>
                <td>
                    <h6>$3400</h6>
                </td>
            </tr>






        </tbody>
    </table>
</div>