<div class="container">
    <h4>Mis compras</h4><br>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Productos</th>
                <th scope="col">Total</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>

                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>

                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>

                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>
                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>
                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>02-01-2021</td>
                <td>
                    <ol>
                        <li>Microondas HDG123</li>
                        <li>Smartphone Huawei</li>
                    </ol>
                </td>
                <td>$12900</td>
                <td>
                    <button class="btn btn-warning btn-sm">Detalles</button> &nbsp;
                    <button class="btn btn-info btn-sm">Factura</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>